h1,h2,h3,h4,h5,h6{
color:	#b876b3;
font-family:Monotype Corsiva;
}

.cl1{
color:red;
font-family:times new roman;	
font-size:18pt;
}
.cl2{
color:yellow;
font-family:times new roman;	
font-size:20pt;
}
.cl3{
color:green;
font-family:times new roman;
font-size:22pt;
}
