body{
    h1, h2, h3 {
     color: blueviolet;
     font-family: Monotype Corsiva;
    }
ol{
    li{
        ul{
            color:red;
            font-family:'Times New Roman', Times, serif;
            font-size:18pt;
        }
    }
li{
    ul{
        color: yellow;
          font-family: 'Times New Roman', Times, serif;
          font-size: 20pt;
    }
}
li{
    ul{
        color: green;
          font-family: 'Times New Roman', Times, serif;
          font-size: 22pt;
    }
}
}
table{
    border-collapse: collapse;
    font-size: medium;
    border: black;
        }
        p{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: blue;
        font-size: 16pt;
        }
    }


